body{
    background-color: rgb(99, 7, 122);
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px;
}

h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}

p{
    color: whitesmoke;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: max-content;
    margin: 10px auto;
    padding: 5px;
}
strong{
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
}

textarea{
    outline: 2px solid white;
    border: 2px solid purple;
    padding: 5px;
    height: 150px;
    width: 80%;
    max-width: 500px;
    font-size: 1rem;
    color: rgb(34, 29, 34);
}

button{
    display: block;
    margin: 15px auto;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(146, 15, 172);
    box-shadow: 0 0 2px 2px rgba(34, 29, 34, 0.3) ;
    transition: all .5s ease-in-out;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(146, 15, 172, .8);
    transform: scale(1.01);
}
button:active{
    transform: scale(.9);
}
.choices{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
.choice{
    margin: 3px;
    color: rgb(146, 15, 172);
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    /* transition: 2s all ease-in-out; */
}
.highlight{
    background-color: rgb(146, 15, 172);
    color: white;
}